  <footer class="wrap site__footer" role="contentinfo">
    <div class="grid">
      <section class="small isle--v grid__col grid__col--3-of-6 p-author vcard">
        <h4>About</h4>
        <p class="o--mz">Hi there! My name is <span class="fn">Andrew Tran</span>. In college, they tried to teach me about computers but I decided I wanted to become a human(ist) instead.</p>
      </section>

      <section class="small isle--v grid__col grid__col--3-of-6">
        <h4>Colophon</h4>
        <p class="o--mz">Designed, developed, and maintained by <a href="/">Andrew Tran</a>. Check the&nbsp;<a href="/styleguide/">style guide</a>. View the <a href="https://github.com/andrewctran/andrewctran.github.io">precompiled source</a> or the <a href="https://github.com/andrewctran/andrewctran.github.io/tree/master">static directory</a> if that's your jam.</p>
      </section>
    </div>
  </footer>
  <div class="footer__copyright wrap small isle--v">
    <p>&copy; {{ site.time | date: '%Y' }} Andrew Tran, unless otherwise noted.</p>
  </div>

  {% include scripts.html %}

</body>
</html>
